:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#root{
  margin: 0;
  padding: 0;
}

*{
  margin: 0;
  padding: 0;
  color: rgb(23, 23, 23)
}

body{
  padding: 0;
  /* margin: 0 10%; */
  background-color: rgb(242, 242, 242);
}

nav{
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  margin: 2 0 1rem;
  padding: .5em 1em 1em;
  align-items: center;
  background-color: rgb(23, 23, 23);
}

header {
  /* border: solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header h1{
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
  sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  color: rgb(242, 242, 242);
}

.sub-title{
   font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: .6rem;
  text-align: center;
  font-weight: 200;
  margin-top: -.5rem;
  color:  rgb(242, 242, 242);
  text-align: center;
}

.timer{
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: .8rem;
  margin-top: 0.2rem;
  font-weight: 200;
  color:  rgb(242, 242, 242);
  text-align: center;
  border-top: solid white 1px;

  
}

.current-price{
  /* border: solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin-top: .5rem; */
  align-items: center;
  
}

#eth-price{
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 600;
  color: rgb(242, 242, 242)
}

.currency-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1.5px solid black;
  border-radius: 50px;
  width: 100%;
  box-shadow: 2px 2px 0 rgb(0, 0, 0);
  background-color: rgb(242, 242, 242);

}

.currency{
  transition: 100ms;
  padding: 2px 5px;
  flex-grow: 1;
  text-align: center;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 400;
  font-size: .8rem;
  ;
}

.active{
  transition: 100ms;
  background-color: rgb(255, 200, 0);
}

.speeds-container{
  margin: 0 5% 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  height: 45vh;
}

.speeds{
  display: flex;
  transition: 300ms;
  border-radius: 1rem;
  flex-grow: 1;
  box-shadow: 2px 2px 0 rgb(0, 0, 0);
  animation: fade-in 1s ease-in-out;
  border: 2px solid black;
  cursor: default;
  justify-content: center;
  padding: 1em 1em; 
  align-items: center;
  gap: 1rem;
  background-color: rgb(250, 250, 250);;
}

.speeds:hover {
  transition: 300ms;
  scale: 1.05;
}

.speeds h3{
  font-weight: 200;
  font-size: 1rem;
}

.speeds h5{
  font-weight: 200;
  font-size: .8rem;
}

.form-container{
  /* margin-top: .5rem; */
  padding: 0 2em 1em;
}

label{
  display: flex;
  justify-content: center;
}

form {
  margin: 5%;
  font-weight: 200;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

select{
  width: 100%;
  margin: .5rem 0 .5rem;
  /* height: 3rem; */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: .8rem;
  font-weight: 300;
  padding: .5em 1em;
  border-radius: 10px;
  vertical-align: center;
  min-width: none;
  background-color: rgb(250, 250, 250);
}

button {
  outline: none;
  border: solid rgb(23, 23, 23);;
  width: 100%;
  font: inherit;
  text-transform: none;
  font-size: 1.5rem;
  border-radius: 10px;
  background-color: rgb(255, 200, 0);
  margin-top: .5rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  box-shadow: 2px 2px 0 rgb(0, 0, 0);
}

#result {
  font-size: 2rem;
  font-weight: 300;
  margin-top: 1rem;
  text-align: center;
}