
.speeds-container{
    margin: 0 0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }


  
  .speeds{
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 40%;
    transition: 300ms;
    border-radius: 1rem;
    flex-grow: 1;
    box-shadow: 2px 2px 0 rgb(0, 0, 0);
    animation: fade-in 1s ease-in-out;
    border: 2px solid black;
    cursor: default;
    justify-content: center;
    padding: 1em 1em; 
    align-items: center;
    background-color: rgb(250, 250, 250);
    cursor: pointer;
  }
  

  .speeds:hover {
    transition: 300ms;
    scale: 1.05;
  }

  .selected{
    background-color: rgb(255, 200, 0);

  }
  
  .speeds h2{
    font-weight: 400;
    font-size: 1rem;
  }
  
  .speeds h4{
    font-weight: 200;
    font-size: .8rem;
  }

  @media (min-width: 800px) {
    .speeds-container {
      margin-bottom: 20px;}
  
    }